@media (max-width: 767px) {
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }

    .block_one {
        background-image: url(./Homework1_img/mobile_top.jpg);
        height: 735px;

    }
    
    
}
