@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .block-one {
        background-image: url(./Homework1_img/mobile_top.jpg);
        height: 735px;

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            display: flex;
            align-items: center;
            text-align: center;
            padding-top: 238px;
        }

        &__subtitle {
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            width: 343px;
            margin-bottom: 32px;
        }

        &__btn {
            margin-top: 0;
        }
    }
}